// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

.inline-block{
    display: inline-block;
}

.show-cursor{
    cursor: pointer;
}

.image-container{
    display: inline-block;
    padding: 10px;
}

.image{
    background-color: grey;
    height: 100%;
}

.contentContainer {
    height: 100%;

    @media only screen and (min-width: 768px) and (min-height: 768px) {
      position: absolute;
      top: calc(50% - (700px/2);
      left: calc(50% - (700px/2);
      width: 700px;
      height: 700px;
    }
}

.wrapper{
  position: relative;
  height: 100%;
  z-index: 10;
}

.btn-container-wrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
}

.btn-container{
  float: right;
}

.yellow{
  color: #FBBC05;
}

ion-list{
  margin-bottom: 0px;
}

.item.activated{
  background-color: transparent;
}

.inbox-item-wrapper{
  display: block;
}

.item-wrapper{
  position: relative;
}

.left-cell{
  position: absolute;
  background-color: red;
  opacity: .5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.right-cell{
  position: absolute;
  background-color: blue;
  opacity: .5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
