// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

.inline-block{
    display: inline-block;
}

.show-cursor{
    cursor: pointer;
}

.yellow{
  color: #FBBC05;
}

ion-list{
  margin-bottom: 0px;
}

.item.activated{
  background-color: transparent;
}

.inbox-item-wrapper{
  display: block;
}

.item-wrapper{
  position: relative;
}

.left-cell{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.left-cell.disabled{
  background-color: #DDD;
}

.left-cell.short{
  background-color: #63D863;
}

.left-cell.long{
  background-color: #EE540C;
}

.right-cell{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(100%, 0, 0);
}

.right-cell.disabled{
  background-color: #DDD;
}

.right-cell.short{
  background-color: #FEDD56;
}

.right-cell.long{
  background-color: #D7A678;
}

.left-cell-inner, .right-cell-inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.left-cell-content, .right-cell-inner {
  width: 100%;
  display: flex;
  align-items: center;
  color: #FFF;
}

.left-cell-content{
    justify-content: flex-end;
}

.right-cell-inner {
    justify-content: flex-start;
}
